.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(0deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
}

.formWrapper {
  max-width: 700px;
  min-width: 360px;
  width: 100%;
  box-shadow: 18px 20px 80px 0px rgba(0, 0, 0, 0.79);
  border: 1px solid transparent;
  padding: 50px 80px;
}

.title {
  font-size: 55px;
  margin-bottom: 70px;

  span {
    font-size: 16px;
  }
}

.form {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.submitButton {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  font-family: inherit;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid #949494;
  width: 300px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(125, 125, 125, 1);

  .link {
    color: white
  }
}