.modalDefault {
  padding: 0;
  margin: 0;
  box-shadow: 18px 20px 80px 0px rgba(0, 0, 0, 0.79);
  background-color: rgb(12, 12, 12);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.container {
  backdrop-filter: blur(2px);
}

.modal {
  color: white;
  width: 300px;
  background-color: rgb(12, 12, 12);
  padding: 20px 40px;

  h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: rgba(125, 125, 125, 1);
    margin-bottom: 30px;
  }

  button {
    border: 1px solid rgb(80, 17, 12);
    background-color: transparent;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 auto;
    transition: all .3s ease;

    &:hover {
      border: 1px solid rgb(105, 21, 15);
      background-color: rgb(164, 35, 26);
    }
  }
}

.button {
  svg {
    path {
      transition: all .3s ease;
      fill: rgb(97, 97, 97);
    }
  }

  :hover {
    path {
      fill: white;
    }
  }
}

.modalHeader {
  margin-bottom: 20px;
}